@import "_header";

h1 {
   color: rgb(38, 0, 255);
}

body {
   font-size: 20px;

   div {
      font-size: 10px;

   }
}
.block {

   &__item {
   }
}

.block {
}
.block__item {
}
.block__ {
}

.red{color: red;}